.container {
    max-width: 170rem;
    margin: 4rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow:var(--shadow-dark);
    border-radius: 2rem;
    overflow: hidden;
    border: 1.5px solid var(--color-grey-blue);
    
   
    
    
    min-height: 50rem;

    @media only screen and (max-width:$bp-largest-2) {
        margin: 0;
        max-width: 100%;
        width: 100%;
        border-radius:1rem;
        overflow: hidden;
        border: 1px solid var(--color-grey-blue);
    }
    @media only screen and (max-width:$bp-medium) {
        border-radius: 0;
    }
}

.header {
    height: 10rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-blue);
    padding: 4rem 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;

    @media only screen and (max-width:$bp-large) {
        height: 9rem;  
    }

    @media only screen and (max-width:$bp-medium) {
        height: 8rem;  
    }
    @media only screen and (max-width:$bp-small-4) {
        height: 6.4rem;
        
        
    }


    &__logo-img {
        height:6.6rem ;
        width: 34.5%;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: .5rem 0;
        grid-column: 1 / 2;
        
        @media only screen and (max-width:$bp-medium) {
            width: 44.5%;
            margin-top: 1rem;
            
        }
        @media only screen and (max-width:$bp-medium-2) {
            width: 48.5%;
            margin-top: 1rem;
            
        }
        @media only screen and (max-width:$bp-small) {
            height: 5.5rem;
            width: 52.5%;
            margin-top: 1rem;
            
        }
        @media only screen and (max-width:$bp-small-3) {
            width: 53%;
            margin-top: 1rem;
            
        }
   

    }
         
        &__box {

        margin-right: 3rem;
        margin-top: 2rem;
        font-weight: 700;
        grid-column: 2 / -1;
        justify-self: end;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr; 

           &--icon {
              width: 2rem;
              height: 2rem;
              margin-right: 1rem;
              color: var(--color-primary);
              font-size: 1.6rem;
              align-self: center;
              @media only screen and (max-width:$bp-large) {
                font-size: 1.4rem;
                
            }
              
              &-1 {
                  grid-row: 1 / 2;
              }
              &-2 {
                  grid-row: 2 / -1;
              }
        }  

           &-text--1 {
               margin-right: 1rem;
               font-size: 1.4rem;
               grid-row: 1 / 2;
               @media only screen and (max-width:$bp-large) {
                font-size: 1.2rem;
                
            }
           }      	
           &-text--2 {
              
               font-size: 1.4rem;
               grid-row: 2 / -1;
               @media only screen and (max-width:$bp-large) {
                font-size: 1.2rem;
                
            }
           }      	

         }
   


}
.content {
    display: flex;

    @media only screen and (max-width:$bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-blue-dark);
    
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vet-view {
     flex: 1;
       

       height: 97rem;

      background-image:linear-gradient(to right bottom, rgba(128, 127, 158, 0.4), rgba(77, 76, 107, 0.8)), url(../img/stetoskop2.jpg); 
      background-size: cover;
      @media only screen and (max-width:$bp-small-4) {
        height:70rem;
        
    }


      
      &__background {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        height: 97rem;

 
            @media only screen and (max-width:$bp-small) {
                background-position-x: 50%;
                
            }
            
            @media only screen and (max-width:$bp-small-4) {
                height:70rem;
                
            }
            
  
     

        &--text-box {

         grid-row: 1 / 2;
         grid-column: 1 / -1;
         justify-self: center;
         align-self: center;
         
          text-align: center;
          transition: all .05s;
        }

        &--informacije {
            grid-row: 2 / -1;
            grid-column: 1 / -1;
            justify-self: center;
            align-self: center;
        }
        

    }

}

.footer {
    background-color: var(--color-grey-blue-dark);
   
    padding: 3rem;
    @media only screen and (max-width:$bp-medium) {

        padding: 2.5rem;
    }

    &__index {
        display: none;
        @media only screen and (max-width:$bp-medium) {
        
           display: block;
        }
    
    }
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 19rem;
    @media only screen and (max-width:$bp-large) {
        margin-left: 13rem;
    }
    @media only screen and (max-width:$bp-medium) {
        margin: 0 auto;
    }
 

    &__link:link,
    &__link:visited {
        font-size: 1.3rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        display: block;
        padding: 1.5rem;
        transition: all .2s;

        @media only screen and (max-width:$bp-large) {
            font-size: 1.2rem;
            
        }
        @media only screen and (max-width:$bp-small-3) {
            font-size: 1rem;
        }
        @media only screen and (max-width:$bp-small-5) {
            padding: 1rem;
          
        }
        
    }

    &__link:hover,
    &__link:active {
        transition: all .2s ease-in;
        color: var(--color-primary);
        transform: translateY(-3px);
    }
}

.copyright {
    font-size: 1rem;
    color:var(--color-grey-light-4);
    margin-top:2.5rem;
    text-align: center;
    margin-right: auto;
    margin-left: 33rem;
    width: 70%;
    @media only screen and (max-width:$bp-largest-2) {
        margin-left: 30rem;
    }
    @media only screen and (max-width:$bp-larger) {
        margin-left: 27rem;
    }
    @media only screen and (max-width:$bp-large) {
        margin-left: 25rem;
    }
    @media only screen and (max-width:$bp-medium) {
        margin:2rem auto;
    }

    @media only screen and (max-width:$bp-small-4) {
        font-size: 1rem;
    }
    @media only screen and (max-width:$bp-small-5) {
        font-size: .8rem;
    }

    &__rights {
    @media only screen and (max-width:$bp-medium) {
        display: block;
    }
    
    }

    &__index {
        font-size: 1rem;
        color:var(--color-grey-light-4);
        text-align: center;
        margin-top: 64rem;
        margin-left: 1rem;
        width: 90%;
        @media only screen and (max-width:$bp-large) {
           font-size: .9rem;
        }
        @media only screen and (max-width:$bp-medium) {
           display: none;
        }
    }

}


.onama-view {
    flex:1;
    height:110rem;
    padding: 0;
    background-image:linear-gradient(to right bottom, rgba(128, 127, 158, 0.4), rgba(77, 76, 107, 0.8)), url(../img/onamav1.jpg); 
    background-size: cover;
    background-position: center;
    
    @media only screen and (max-width:$bp-larger) {
        
        height: 134rem;
     }
 
    
   @media only screen and (max-width:$bp-medium) {
     background-position:left center;
 }
}
.oklinici__view {
    flex:1;
    height:120rem;
    padding: 5rem;
    background-image:linear-gradient(to right bottom, rgba(128, 127, 158, 0.2), rgba(77, 76, 107, 0.4));
    background-size: cover;
    
    




   @media only screen and (max-width:$bp-small) {
     background-position-x: 50%;
 }
}
.usluge-view {
    flex:1;
    height:120rem;
    padding: 5rem;
   
    


   @media only screen and (max-width:$bp-small) {
     background-position-x: 50%;
 }
}
.lokacija-view {
    flex:1;
    height: 152rem;
    padding: 0;
    display: grid;
    grid-template-rows: 10rem repeat(2, 1fr) 14rem;
    grid-template-columns: repeat(2, 1fr);
 
    


}









