$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-terciary-light:#2998ff;
$color-terciary-dark:#5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-dark-grey:#777;
$color-dark-grey-2:#999;
$color-dark-grey-3:#333;

$color-white: #fff;
$color-black: #000;



$color-pet-primary:#D14531;
$color-pet-primary-light:#fe5239;
$color-pet-primary-dark:#7f291d;

$color-pet-secondary:#4D4C6B;
$color-pet-secondary-light:#807F9E;
$color-pet-secondary-dark:#1A1938;